*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

.navbar {
	background: #131313;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	position: sticky;
	top: 0;
	z-index: 999;
}

.navbar__container {
	display: flex;
	justify-content: space-between;
	height: 80px;
	z-index: 1;
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 50px;
}

#navbar__profile {
	display: flex;
	cursor: pointer;
}

.navbar__menu {
	display: flex;
	align-items: center;
	list-style: none;
	text-align: center;
}

.navbar__item {
	margin: 10px 0;
	height: 60px;
	padding: 0 0.5rem;
}

.navbar__links {
	color: #b0b30c;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	padding: 0 1rem;
	height: 100%;
	border: 1px solid;
	border-radius: 10px;

	background: rgba(41, 77, 39, 0);
	transition: all 0.5s ease;
}
.navbar__links:hover {
	background: rgba(41, 77, 39, 1);
}

.content--index {
	background: linear-gradient(to bottom, #3d3959, rgba(61, 57, 89, 0.3));
	text-align: center;
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 0;
}

.content--index h1 {
	padding-top: 20vh;
}

.content--index ul {
	padding-top: 10vh;
	display: inline-flex;
	list-style: none;
}

.content--index ul li {
	padding: 0 2vw;
}

.content--index ul li a {
	color: #b0b30c;
	text-decoration: none;
	border: 2px solid;
	border-radius: 10px;
	padding: 1vw 4vh;
}

.content--contact {
	background: linear-gradient(to bottom, #3d3959, rgba(61, 57, 89, 0.3));
	text-align: center;
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 0;
}

.content--contact h1 {
	padding-top: 20vh;
}

.content--about {
	background: linear-gradient(to bottom, #3d3959, rgba(61, 57, 89, 0.3));
	text-align: center;
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 0;
}

.content--about h2 {
	padding-top: 20vh;
}

.content--projects {
	background: linear-gradient(to bottom, #3d3959, rgba(61, 57, 89, 0.3));
	text-align: center;
	position: absolute;
	height: 100%;
	width: 100vw;
	top: 0;
}

.content--projects ul {
	padding-top: 20vh;
}

.content--projects ul li {
	padding: 3vh 0;
}

.content--projects ul li a {
	color: #b0b30c;
	text-decoration: none;
	border: 2px solid;
	border-radius: 10px;
	padding: 1vw 4vh;
}